fastapi
uvicorn
pydantic
sqlalchemy
python-multipart
requests
jinja2
joblib
scikit-learn

google-generativeai==0.5.3
google-api-core
google-auth

python-jose[cryptography]
passlib[bcrypt]

psycopg2-binary   # Add this
